<li class="nav-item">
<%= link_to 'All book stores' ,showbs_path, class:'nav-link',style: 'color-white'%>
 </li>

 <li class="nav-item">
 <%= link_to 'All books' ,show_path ,class: 'nav-link' %>
</li>