
<h1 class="heading-edit"> Edit the book </h1>

<h6 class="frm">
  <%= form_for @book, url: update_book_path, method: :put,  html: { class: 'form' } do |form| %>

    <%= render partial: "shared/book_form" , locals: { form: form } %>

    <%= form.submit "Update", class: "btn btn-primary" %>

  <% end %>
</h6>
