<h6 class="frm">
<%= form_for @book ,url: addBook_path ,html: { class: 'form' } do |form| %>

  <%= render partial:"shared/book_form", locals: { form: form }  %>

  <%= form.submit "Add", class: "btn btn-primary" %>

<% end %>
</h6>


