<h1 style="color:white"> welcome !!! </h1>
<h3 style="color:white">Select the store</h3>

<div class="container">
<% for bookstore in @bookstores %>
<div class="c", style= 'background-color:lightblue'>
  <div class="c-body">

  <%= render partial: "shared/allbookstores", locals: {bookstore:bookstore} %>
  <br>
  <%= button_to 'Select', show_book_path(id: bookstore.id), method: :get, class: 'btn btn-primary' %>


</div>
</div>
<% end %>
</div>