
<style>
h1,h3{
margin-left:700px;
color:white;

}
.container{
  margin-top:20px;
  justify-self:center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.c{
  border-radius:7px;
  padding: 20px;
  text-align: center;

}
.image{
width:120px;
height:120px;
border-radius:5px
}
</style>


<h1 style="color:white"> welcome !!! </h1>
<h3 style="color:white">Select the store</h3>

<div class="container">
<% for bookstore in @bookstores %>
<div class="c", style= 'background-color:lightblue'>
  <div class="c-body">

  <%= render partial: "shared/allbookstores", locals: {bookstore:bookstore} %>
  <br>
  <%= button_to 'Select', show_path, method: :get ,class: 'btn btn-primary'%>


</div>
</div>
<% end %>
</div>