 <h1> Edit the bookstore</h1>
<div class="bdy">
<h6 class="frm">
<%= render partial:"shared/bookstore_form", locals: { bookstore: @bookstore, path: update_bookstore_path(@bookstore.id) ,btn_text: "Update"}%>

</h6>
</div>