<h1 class="heading_allbs"> All bookstores</h1>
<div class="container">
<% for bookstore in @bookstores %>
<div class="c", style= 'background-color:lightblue'>
  <div class="c-body">
<%= render partial: "shared/allbookstores", locals: {bookstore:bookstore} %>
<%= button_to 'Edit' , edit_bookstore_path(bookstore), method: :get ,class: 'btn btn-success' %></br>
<%= button_to 'delete', delete_bookstore_path(bookstore), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

</div>
</div>
<% end %>

</div>