 

<div class="bdy">
<h6 class="frm">
<%= form_for @bookstore, url: addBookStore_path  , html: { class: 'form' } do |form| %>

  <%= render partial:"shared/bookstore_form", locals: { form: form }  %>
  
  <%= form.submit "Add", class: "btn btn-primary" %>
<% end %>
</h6>
</div>