h1,h3{
    margin-left:700px;
    color:white;
    
    }
    h1{
      margin-bottom:30px;
      margin-left:45vw;
      color:white;
    }

    .heading-edit{
      margin-bottom:30px;
      margin-left:40vw;
      color:white;
    }
   

